<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
</head>

<body>

<h1>Task Manager</h1>

<input id="taskInput" placeholder="New task">
<button onclick="addTask()">Add</button>
<input id="taskDeadline" type="datetime-local" placeholder="Deadline">
<select id="taskPriority">
  <option value="">Priority</option>
  <option value="low">Low</option>
  <option value="medium">Medium</option>
  <option value="high">High</option>
</select>

<ul id="taskList"></ul>

<script src="/static/script.js"></script>

</body>
</html>